
.search {
    z-index: 1;
    margin: 80px auto 40px;
}
.search__container {
    display: flex;
    z-index: 2;
    position: relative;
    flex-direction: column;
    align-items: center;
    max-width: 608px;
    margin: 80px auto 40px;
}

.search__title {
    color: white;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4rem;
    letter-spacing: 0px;
    text-align: left;
    margin: 0;

}
.search__input:focus {
    color: black;
}

.search__paragraph {
    font-family: 'Roboto' 'Inter';
    font-size: 1.125rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5rem;
    letter-spacing: 0px;
    text-align: left;
    color: white;
    margin-top: 32px;
}
.search__form {
    width: 100%;
    /* margin: 64px auto 0; */
    margin-top: 64px;
    display: flex;
}
.search__input {
    width: 100%;
    min-height: 64px;
    border-radius: 100px;
    background-color: white;
    outline: none; 
    border: none;
    color: #B6BCBF;
    padding-left: 24px;

}
.search__button {
    border-radius:100px;
    background-color: #2F71E5;
    min-height: 64px;
    border: none;
    font-family: 'Roboto', 'Inter';
    font-size: 1.125rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5rem;
    color: white;
    width: 168px;
    text-align: center;
    transition: background-color 0.7s ease; 
}
.search__button:hover {
    background-color: #347EFF;
}
.search__button:active {
    background-color: #2A65CC;
}

@media (max-width: 1312px) {
    .search__container {
        max-width: 508px;
        margin: 70px auto 30px;
    }    
}
@media (max-width: 1024px) {
    .search__container {
        max-width: 448px;
        margin: 38px auto 30px;
    }   
    .search__title {
        font-size: 2.25rem;
        line-height: 2.5rem;   
        text-align: left; 
        width: 100%;
    } 
    .search__paragraph {
        font-size: 1.125rem;
        line-height: 1.5rem;
        margin: 16px 0 0;
        width: 100%;
    }
    .search__form {
        width: 100%;
        margin-top: 48px;
    }
    .search__button {
        min-height: 56px;
        width: 160px;
}
.search__input {
    min-height: 56px;
    max-width: 292px;
}
}

@media (max-width: 767px) {
    .search {
        margin: 30px auto;
        max-width: 480px;
        max-height: 360px;
    }
    .search__container {
        max-width: 480px;
        margin: 0 auto;
    }   
    .search__title {
        font-size: 2.25rem;
        line-height: 2.5rem;   
        text-align: left; 
        width: 100%;
    } 
    .search__paragraph {
        font-size: 1.125rem;
        line-height: 1.5rem;
        margin: 16px 0 0;
        width: 100%;
    }
    .search__form {
        width: 480px;
        height: 128px;
        margin-top: 42px;
        flex-direction: column;
        align-items: center;
    }
    .search__button {
        width: 100%;
        margin: 16px 0 32px;
        height: 56px;
}
.search__input {
    max-width: 462px;
    height: 56px;
    padding-left: 16px;
}

}

@media (max-width: 480px) {
    .search {
        margin: 30px auto;
        max-width: 288px;
        height: 480px;
    }
    .search__container {
        max-width: 285px;
        margin: 0 auto;
    }   
    .search__title {
        font-size: 2.25rem;
        line-height: 2.5rem;   
        text-align: left; 
        width: 100%;
    } 
    .search__paragraph {
        font-size: 1.125rem;
        line-height: 1.5rem;
        margin: 16px 0 0;
        width: 100%;
    }
    .search__form {
        max-width: 285px;
        height: 128px;
        margin-top: 82px;
        flex-direction: column;
        align-items: center;
    }
    .search__button {
        max-width: 285px;
        margin: 16px 0 32px;
        height: 56px;
}
.search__input {
    max-width: 269px;
    height: 56px;
    padding-left: 16px;
}

}

@media (min-width: 768px) {
    .search__form {
        border-radius: 100px;
        background: #fff;
        justify-content: space-between;
    }
}
