.header__title {
    font-family: 'Roboto Slab';
    color: white;
    font-size: 1.5rem;
}
.header {   
    border-bottom: .3px solid #C4C4C4;
    position: relative;
    z-index: 3;
    margin-bottom: 23px;
}
.header__layout {
  width: 1232px;
  position: relative;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 0;  
}
.header__container {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.header__button {
  border-radius: 100px;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  margin: 0 0 13x;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5rem;   
  padding: 12px 20px 15px;
  background-color: rgba(0, 125, 215, 0);
  transition: .7 ease;
}
.header__button:hover {
  border: 1px solid #B6BCBF;
  color:#B6BCBF;
}
.header__link {
    text-decoration: none;
    color: white;
    margin-right: 32px;
    padding-bottom: 23px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5rem;   
}
.header__link_active {
    border-bottom: 3px solid white;
}
.header__button_burger-menu {
  display: none;
  position: absolute;
   top:16px;
   right: 30px;
    width: 24px;
    height: 24px;
    background: url(../../images/menu.svg) no-repeat center;
    border: none;
    cursor: pointer;
    transition: 0.6s ease;
}
.header__button_menu-close {
  display: none;
  position: absolute;
   top:16px;
   right: 30px;
    width: 24px;
    height: 24px;
    background: url(../../images/closemenu.svg) no-repeat center;
    border: none;
    cursor: pointer;
    transition: 0.6s ease;
}
.header__button_burger-menu, .header__button_menu-close:hover {
  opacity: .6;
}
.header__overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;

}
.header__line_type_visible{
  display: flex;
}
.header__line {
  display: none;
  width: 100%;
  height: .5px;
  position: absolute;
  top: 56px;
  left: 0;
  background: white;
}
.header__overlay_type_visible{
  display: block;
}
@media (max-width: 1280px) {
  .header__layout {
      max-width: 1024px;
  }
  .header__button {
  line-height: 1.5rem;   
  padding: 10px 15px;
 
  }
}

@media (max-width: 1024px) {
  .header__layout {
      max-width: 712px;
  }

  .header__button {
      margin-right: 16px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
  }

  .header__link {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      margin-right: 16px;
  }
}

@media (max-width: 767px) {
  .header {
    max-width: 320px;
  }
  .header__layout {
    width: 100%;
      padding: 16px 0 0;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
  }
 

  .header_type_mobile, .header__layout_type_mobile {
    background-color: #1a1b22;
  }

  .header__title {
      font-weight: bold;
      font-size: 1rem;
      margin: 0 0 16px;
      padding-left: 16px;
  }
  .header__container {
    justify-content: space-around;
    flex-direction: column;
    max-width: 288px;
    position: relative;
    padding: 26px 16px 24px; 
    display: none;  
    background: #1a1b22;
    border-top: .5px solid white;

}
.header__container_type_visible {
  display: flex;
}
.header__button {
  padding: 15px 74px;
}

  .header__button_burger-menu {
      display: block;
      background-image: url(../../images/burgermenu.svg);
  }
  .header__button_menu-close {
    display: block;
    background-image: url(../../images/closemenu.svg);
  }
  .header__menu-saved {
    display: block;
    background-image: url(../../images/menu-savednews.svg);
  }
}
