.footer {
    max-width: 1227px;
    margin: 32px auto 26px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.footer__copyright {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4rem;
    letter-spacing: 0px;
    text-align: left;
    color: #B6BCBF;
    min-width: 433px;
}
.footer__container {
    display: flex;
}
.footer__nav {
    display: flex;
    justify-content: space-between;
}
.footer__link {
    font-family: 'Roboto', Arial, 'Inter';
    font-size: 1.125rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5rem;
    letter-spacing: 0px;
    text-align: left;
    text-align: center;
    color:#1A1B22;
    text-decoration: none;
    margin-right: 40px;
    transition: .7 ease;
}
.footer__link:hover {
    opacity: .7;
}

.footer__icon {
    margin-right: 28px;
}
.footer__icon:hover {
    opacity: .7;
}

@media (max-width: 1312px) {
    .footer {
        max-width: calc(100% - 80px);
    }

    .footer__link {
        margin-right: 24px;
    }
}

@media (max-width: 1439px) {
    .footer__copyright {
        min-width: 300px;
    }
    
.footer__icon {
    margin-right: 25px;
    width: 20px;
}
.footer__link {
    margin-right: 30px;
}

}

@media (max-width: 767px) {
    .footer {
        max-width: calc(100% - 32px);
        flex-direction: column-reverse;
    }

    .footer__copyright {
        margin: 40px 0 22px;
    }

    .footer__container {
        width: 100%;
        justify-content: space-between;
    }

    .footer__nav {
        flex-direction: column;
        align-items: start;
    }

    .footer__link {
        margin: 0 0 24px 0;
    }

    .footer__link:last-child {
        margin: 0;
    }
}
